name: Tests and Coverage
on:
  - push
  - pull_request
jobs:
  test:
    name: Test and Build
    strategy:
      matrix:
        go-version: [1.14.x, 1.15.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test
        run: go test -v ./... -race
  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Generage coverage
        run: go test -v ./... -coverprofile=coverage.txt -covermode=atomic
      - name: Publish coverage
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.txt
